html, body {
  background-color: #000000;
   font-family: American Typewriter;
   font-stretch: condensed;
   color: #80FF00;
   height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    overflow-y: hidden
}

#wrapper {
    background-color:#E60080;
    width: 100%;
    height:100%;
    margin: 0;
    padding: 0;
    border: 0;
    }

#wrapper td {
   	vertical-align: middle;
   	text-align: center;
}

#offer {
    position: relative;
    line-height:130%;
    left: 10%;
    top: 15%;
    float: left;
    text-align:center;
    font-size:25pt;
   }

#map {
  left: 30%;
  top: 10%;
  width: 520px;
  height: 400px;
  float: left;
   }

#hours {
  position: relative;
  text-align: center;
  top: 80%;
  }

#p {
  font-family: American Typewriter;
   font-stretch: condensed;
}