html, body, #wrapper {
	background-color:#E60080;
   	height:100%;
   	width: 100%;
   	margin: 0;
   	padding: 0;
   	border: 0;
   	font-family:American Typewriter;
   	font-stretch: condensed;
}
#wrapper td {
   	vertical-align: middle;
   	text-align: center;
}

div, iframe {
    margin: 0 auto;
    display: block;
    width: 70%;
    height: 500px;
}