html, body, #wrapper {
    background-color:#E60080;
   font-family:American Typewriter;
   font-stretch: condensed;
        height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    overflow-y: hidden
}


#wrapper td {
   	vertical-align: middle;
   	text-align: center;
}

#header-wrap {
  background-color: #FFFFFF;
    width: 100%;
    height: 120px;
    top: 0;
    z-index: 1;

}
#container{ 
  text-align: center;
  line-height:120%;
  font-size: 30pt;
  padding-top: 20pt;
  padding-bottom: 20pt;
  height: 100%;
}

.header-text {
  text-align: center;
  color:#89C800;
  padding-top: 10pt;
}

.main-header-text {
  font-size: 20pt;
  margin: 0;
  padding-bottom: 5pt
}

.sub-header-text {
  font-size: 10pt;
  margin: 0;
}

.logo {
position: relative;
left: 15%;
float: left;
}

.logo-img {
height: 70px; /* you can use % */
}

.header-space {
  height: 20pt;
}

a:link {color:#89C800;
text-decoration: none;}


