{% include header.html %}
{% include sidebar.html %}

<div id='offer'>
Gebrauchte Räder<br>
Fahrraddesign<br>
Oldtimer<br>
Service<br> 
Montage<br>
Inspektionen<br>
Ankauf
</div>


<div id='map'></div>
 
 <div id='hours'>
     {{ content }}
</div>
<div id='ribbon'>
<img src="/images/ribbon_lowercase.png"></img>
</div>

<script>
// var map = L.mapbox.map('map', 'chichi.i67bj050', { zoomControl:false })
//     .setView([52.481108,13.426183], 16);

var map = L.mapbox.map('map', 'chichi.i725d13j', { zoomControl:false })
    .setView([52.482,13.425884], 14);
var customIcon = L.icon({
    iconUrl: '/images/logo_p.png',

    iconSize:     [38, 31], 
    iconAnchor:   [20, 20], 
    popupAnchor:  [0, -20] 
});


var marker = L.marker([52.481035,13.425884], {icon: customIcon});
marker.addTo(map);
var popupContent=document.createElement('p');
popupContent.id = 'popup';
popupContent.innerHTML='<b>ChiChi</b><br>Flughafen Straße 50<br>12053 Berlin<br>Tel.: 030/62 98 600 5';
marker.bindPopup(popupContent).openPopup();

</script>

	 
{% include footer.html %}
 
 
 
